/* Add animation to "page content" */
.animate-bottom {
	position: relative;
	-webkit-animation-name: animatebottom;
	-webkit-animation-duration: 1s;
	animation-name: animatebottom;
	animation-duration: 1s;
}

@-webkit-keyframes animatebottom {
	from {
		bottom: -150px;
		opacity: 0;
	}
	to {
		bottom: 0px;
		opacity: 1;
	}
}

@keyframes animatebottom {
	from {
		bottom: -150px;
		opacity: 0;
	}
	to {
		bottom: 0;
		opacity: 1;
	}
}
.row {
	display: flex;
	align-content: space-between;
	justify-content: center;
	flex-wrap: wrap;
}
.list {
	line-height: 1.5;
	margin: 20px;
	padding: 0.75em 1em;
	border-radius: 6px;
	font-size: 1.3rem;
	border: 1px solid #f2a365;
	width: max-content;
}
